.formatted_container {
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;

    margin: 100px;
    max-width: 900px;
}

.formatted_container > h1 {
    font-size: 48px;
    font-weight: 700;

    margin: 60px 0;
}

.formatted_container > div {
}

.formatted_container > div > p {
    margin: 48px 0;
}

.source {
    font-size: 14px;
    line-height: 18px;
}

.disclaimer_container {
    font-size: 20px;
    line-height: initial;
    font-style: italic;

    background-color: #eaeaea;
    padding: 25px 35px;
    margin-top: 100px;
    margin-bottom: 0;
}

.next_text_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 420px;
    background-color: #F00;
    border-radius: 25px;
    color: white;
    padding: 20px 24px 28px;
    margin-top: 63px;
    margin-bottom: 150px;

    float: right;
}

.next_text_button:before {
    content: "следующий текст";
    font-weight: 600;
    font-size: 24px;
    line-height: initial;
}

.next_text_button:hover {
    color: white;
}

.next_text_button > svg {
    position: relative;
    top: 4px;
}

@media only screen and (max-width: 800px) {
    .formatted_container {
        margin: 30px;
        font-size: 16px;
        line-height: 30px;
    }

    .formatted_container > h1 {
        font-size: 20px;
    }

    .formatted_container > div > p {
        margin: 30px 0;
    }

    .source {
        font-size: 10px;
        line-height: 16px;
    }

    .disclaimer_container {
        font-size: 12px;
        padding: 8px 15px;
        margin-top: 40px;
    }

    .next_text_button {
        width: 240px;
        padding: 13px 16px 16px;
        border-radius: 10px;

        float: unset;
        margin: 53px auto 100px;
    }

    .next_text_button:before {
        font-size: 16px;
        content: "еще текст";
    }


    .next_text_button > svg {
        top: 3px;
    }
}