.global_container {
    margin: 0 auto;
    max-width: 1440px;
}

.read_georgian {
    margin: 84px 90px 112px 100px;
    max-width: 1090px;
}

.read_georgian > h1 {
    font-size: 128px;
    font-weight: 900;
    color: #FF0000;

    position: relative;
    left: -9px;
}

.read_georgian > p {
    font-size: 20px;
}

.exercises_container {
    width: 100%;
    padding: 100px;
}

.exercises_container > h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 65px;

    position: relative;
    left: -4px;
}

.exercise_block_container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    /*justify-content: space-between;*/
}

.exercise_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
    height: 300px;
    margin-bottom: 107px;
    margin-right: 100px;

    background-color: #f00;

    background-position: center;
    background-size: cover;
}

.exercise_block > p {
    color: white;
    padding: 25px 34px;
    margin: 0;

    font-size: 28px;
    font-weight: bold;
}

.footer {
    padding: 33px 40px;
    text-align: right;

    color: #FFF;
    background-color: #ff0000;
}

@media only screen and (max-width: 800px) {
    .read_georgian {
        margin: 55px 60px 66px 30px;
    }

    .read_georgian > h1 {
        font-size: 36px;
        left: -2px;
    }

    .read_georgian > p {
        font-size: 16px;
    }

    .exercises_container {
        padding: 0 60px 120px 30px;
    }

    .exercises_container > h1 {
        font-size: 20px;
        left: -1px;
        margin-bottom: 22px;
    }

    .exercise_block {
        margin-bottom: 30px;
        margin-right: 0;
        width: 100%;
        height: unset;
        aspect-ratio: 2/1;
    }

    .exercise_block > p {
        font-size: 16px;
        padding: 15px 21px;
    }

    .footer {
        padding: 40px 30px 25px;
        font-size: 8px;
        text-align: left;
    }
}