.options_container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 50px;
    max-width: 800px;
}

.button {
    font-size: 64px;
    cursor: pointer;

    padding: 5px;
    width: 100px;
    text-align: center;
}

.button__selected {
    color: #ff0000;
}

.choose_title {
    font-size: 40px;
    margin: 259px 50px 0 100px;

    max-width: 870px;
}

@media only screen and (max-width: 800px) {
    .choose_title {
        font-size: 16px;
        margin: 55px 30px 0 30px;
    }

    .options_container {
        margin-left: 60px;
        margin-right: 60px;
    }

    .button {
        font-size: 40px;
        width: 60px;
    }
}